.Ticket {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
}

.Ticket h5 {
  margin: 0 0 0 5px;
}

.Ticket p {
  text-align: center;
  margin: 2px;
}
.Ticket button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 18px;
  box-sizing: border-box;
}

.Ticket h3 {
  margin: 10px;
}
